/* general style for the website  */

body{
    font-family: "Playfair", serif;
    margin: 0;
    padding: 0;
    line-height: 100%;
}
header{
    background: #333;
    color: #fff;
    padding: 10px 0;
}

header > h1{
    text-align: center;
}

nav > ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav > ul > li{
    margin: 0 15px;
}

nav > ul > li > a{
    color: #fff;
    text-decoration: none;
}

section{
    padding: 20px;
}

footer{
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
}

body.dark{
    background-color: #121212;
    color: #fff;
}
body.dark > header, body.dark > footer{
    background-color: #333;
}

.dark-mode-card{
    background-color: #333 !important; /* Dark background */
    color: white !important; /* White text */
}